In [3]:
import pandas as pd
import numpy as np

data = {
    'sku': [0, 1, 1, 2, 2, 3, 3, 4, 5, 5, 5, 6, 6, 6, 7, 8, 9],
    'agg': ['max', 'med', 'med', 'avg', 'avg', 'rnk', 'rnk', 'max', 'max', 'max', 'max', 'min', 'min', 'min', 'med', 'rnk', 'rnk'],
    'rank': [-1, 0, 1, 0, 1, 0, 2, 0, 0, 1, 2, 0, 1, 2, 0, -1, 0],
    'base_price': [33.0, 17.7, 17.7, 76.7, 76.7, 39.7, 39.7, 18.0, 84.8, 84.8, 84.8, 73.6, 73.6, 73.6, 58.6, 35.2, 87.0],
    'comp_price': [np.nan, 16.4, 21.8, 77.0, 73.9, 37.4, 47.9, 22.4, 106.0, 104.7, 80.9, 31.7, 33.6, 74.7, 71.3, np.nan, 88.2]
}
df = pd.DataFrame(data)

print(df)

    sku  agg  rank  base_price  comp_price
0     0  max    -1        33.0         NaN
1     1  med     0        17.7        16.4
2     1  med     1        17.7        21.8
3     2  avg     0        76.7        77.0
4     2  avg     1        76.7        73.9
5     3  rnk     0        39.7        37.4
6     3  rnk     2        39.7        47.9
7     4  max     0        18.0        22.4
8     5  max     0        84.8       106.0
9     5  max     1        84.8       104.7
10    5  max     2        84.8        80.9
11    6  min     0        73.6        31.7
12    6  min     1        73.6        33.6
13    6  min     2        73.6        74.7
14    7  med     0        58.6        71.3
15    8  rnk    -1        35.2         NaN
16    9  rnk     0        87.0        88.2

In [108]:
import pandas as pd

def agg_comp_price(X: pd.DataFrame) -> pd.DataFrame:
    '''
    Function calculate and new_price acording data was gave.
    return: new dataframe
    '''
    grouped_df = X.groupby('sku')
    result_df = pd.DataFrame(columns=['sku', 'agg', 'base_price', 'comp_price', 'new_price'])

    for sku, group in grouped_df:
        if group['agg'].iloc[0] == 'min':
            agg_price = group['comp_price'].min()

        elif group['agg'].iloc[0] == 'max':
            agg_price = group['comp_price'].max()

        elif group['agg'].iloc[0] == 'med':
            agg_price = group['comp_price'].median()

        elif group['agg'].iloc[0] == 'avg':
            agg_price = group['comp_price'].mean()

        elif group['agg'].iloc[0] == 'rnk':
            agg_price = group.loc[group['rank'].idxmin(), 'comp_price']

        if 0.8 * group['base_price'].iloc[0] <= agg_price <= 1.2 * group['base_price'].iloc[0]:
            new_price = agg_price
        else:
            new_price =group['base_price'].iloc[0]

        result_df.loc[sku] = (sku, group['agg'].iloc[0],
                              group['base_price'].iloc[0],
                              agg_price, new_price)
    return result_df.infer_objects()

In [112]:
agg_comp_price(df)

   sku  agg  base_price  comp_price  new_price
0    0  max        33.0         NaN      33.00
1    1  med        17.7        16.4      19.10
2    2  avg        76.7        77.0      75.45
3    3  rnk        39.7        37.4      37.40
4    4  max        18.0        22.4      18.00
5    5  max        84.8       106.0      84.80
6    6  min        73.6        31.7      73.60
7    7  med        58.6        71.3      58.60
8    8  rnk        35.2         NaN      35.20
9    9  rnk        87.0        88.2      88.20